{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>

<html>

  <head>
    {% block meta %}
    {% endblock meta %}

    <title>
    	{% block title %}Dashboard Metrics{% endblock %}
    </title>

    {% block stylesheets %}
    {% endblock stylesheets %}
  </head>

  {% block body %}  
  {% endblock body %}

</html>