{% block Header %}
<!-- start: Header -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="index.html"><span>Metrics Dashboard</span></a>

      {% block Header_Menu %}       
        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">
          <ul class="nav pull-right">

          {% block Notification %}  
            <li class="dropdown hidden-phone">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white warning-sign"></i>
              </a>
              <ul class="dropdown-menu notifications">
                <li class="dropdown-menu-title">
                  <span>You have 11 notifications</span>
                  <a href="#refresh"><i class="icon-repeat"></i></a>
                </li> 
                <li>
                  <a href="#">
                    <span class="icon blue"><i class="icon-user"></i></span>
                    <span class="message">New user registration</span>
                    <span class="time">1 min</span> 
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="icon green"><i class="icon-comment-alt"></i></span>
                    <span class="message">New comment</span>
                    <span class="time">7 min</span> 
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="icon green"><i class="icon-comment-alt"></i></span>
                    <span class="message">New comment</span>
                    <span class="time">8 min</span> 
                  </a>
                </li>
                  <a href="#">
                    <span class="icon blue"><i class="icon-user"></i></span>
                    <span class="message">New user registration</span>
                    <span class="time">yesterday</span> 
                  </a>
                </li>
                <li class="dropdown-menu-sub-footer">
                  <a>View all notifications</a>
                </li> 
              </ul>
            </li>
          {% endblock Notification %} 

          {% block Notifications_Dropdown %}
            <!-- start: Notifications Dropdown -->
            <li class="dropdown hidden-phone">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white tasks"></i>
              </a>
              <ul class="dropdown-menu tasks">
                <li class="dropdown-menu-title">
                  <span>You have 17 tasks in progress</span>
                  <a href="#refresh"><i class="icon-repeat"></i></a>
                </li>
                <li>
                  <a href="#">
                    <span class="header">
                      <span class="title">ARM Development</span>
                      <span class="percent"></span>
                    </span>
                    <div class="taskProgress progressSlim orange">80</div> 
                  </a>
                </li>
                <li>
                  <a class="dropdown-menu-sub-footer">View all tasks</a>
                </li> 
              </ul>
            </li>
            <!-- end: Notifications Dropdown -->
          {% endblock Notifications_Dropdown %}

          {% block Message_Dropdown %}
            <!-- start: Message Dropdown -->
            <li class="dropdown hidden-phone">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white envelope"></i>
              </a>
              <ul class="dropdown-menu messages">
                <li class="dropdown-menu-title">
                  <span>You have 9 messages</span>
                  <a href="#refresh"><i class="icon-repeat"></i></a>
                </li> 
                <li>
                    <a href="#">
                      <span class="avatar">
                        <img src="" alt="Avatar">
                      </span>
                      <span class="header">
                        <span class="from">Dennis Ji</span>
                        <span class="time">Jul 25, 2012</span>
                      </span>
                      <span class="message">
                          Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                      </span>  
                    </a>
                </li>
                <li>
                  <a class="dropdown-menu-sub-footer">View all messages</a>
                </li> 
              </ul>
            </li>
            <!-- end: Message Dropdown -->
          {% endblock Message_Dropdown %} 

            <li>
              <a class="btn" href="#">
                <i class="halflings-icon white wrench"></i>
              </a>
            </li>
            {% block User_Dropdown %}
            <!-- start: User Dropdown -->
            <li class="dropdown">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="halflings-icon white user"></i> H.Hakim
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu-title">
                  <span>Account Settings</span>
                </li>
                <li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>
                <li><a href="login.html"><i class="halflings-icon off"></i> Logout</a></li>
              </ul>
            </li>

            <!-- end: User Dropdown -->
            {% endblock User_Dropdown %} 

          </ul>
        </div>

        <!-- end: Header Menu -->
        {% endblock Header_Menu %} 
        
      </div>
    </div>
  </div>

  <!-- start: Header -->
{% endblock Header %} 