{% block Main_Menu %} 

  <div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
      <ul class="nav nav-tabs nav-stacked main-menu">
        <li><a href="index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li> 
        <li><a href="widgets.html"><i class="icon-dashboard"></i><span class="hidden-tablet"> Widgets</span></a></li>
        <li><a href="table.html"><i class="icon-align-justify"></i><span class="hidden-tablet"> Tables</span></a></li>
      </ul>
    </div>
  </div>
  <!-- end: Main Menu -->
{% endblock Main_Menu %}