{% extends "::layout.html.twig" %}

    {% block meta %}
      {% include 'BasicperfMetricsBundle::includes/meta.html.twig' %}
    {% endblock meta %}

    {% block title %} {{ parent() }} {% endblock %}

    {% block stylesheets %}
     {% include 'BasicperfMetricsBundle::includes/stylesheets.css.twig' %}
    {% endblock stylesheets %}


  {% block body %}
    <body>

        {% block Header %}
          {% include 'BasicperfMetricsBundle::common/header.html.twig' %}
        {% endblock Header %}

        <div class="container-fluid-full">
          <div class="row-fluid">

          {% block Main_Menu %} 
            {% include 'BasicperfMetricsBundle::common/menu.html.twig' %}  
          {% endblock Main_Menu %}

            <noscript>
              <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
              </div>
            </noscript>

        {% block Main_Content %}
          <div id="content" class="span10"> 

            {% block Breadcrumb %}                       
              <ul class="breadcrumb">
                <li>
                  <i class="icon-home"></i>
                  <a href="index.html">Home</a> 
                  <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">Dashboard</a></li>
              </ul>
           {% endblock Breadcrumb %} 

           {% block Content %} 

           {% endblock Content %} 
              
          </div><!--/.fluid-container-->        
            <!-- end: Content -->
        {% endblock Main_Content %}  

      </div><!--/#content.span10-->
    </div><!--/fluid-row-->

      {% block footer %}
        {% include 'BasicperfMetricsBundle::common/footer.html.twig' %}
      {% endblock footer %}

      {% block javascripts %}
         {% include 'BasicperfMetricsBundle::includes/javascripts.html.twig' %}
      {% endblock javascripts %}

    </body>
  {% endblock body %}
